<form (ngSubmit)="onClick()">

  <ion-list>

    <ion-item>
      <ion-label position="floating">Barbeiro</ion-label>
      <ion-select cancelText="Cancelar" okText="Ok">
        <ion-select-option value="Renato">Renato</ion-select-option>
        <ion-select-option value="Junior">Junior</ion-select-option>
        <ion-select-option value="Sem">Sem preferencia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Serviços</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Ok">
        <ion-select-option value="Cabelo">Cabelo</ion-select-option>
        <ion-select-option value="Barba">Barba</ion-select-option>
        <ion-select-option value="Sombrancelha">Sombrancelha</ion-select-option>
        <ion-select-option value="pintura">Pintura</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" name="dtNascimento" required
        [min]="anoMin"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora</ion-label>
      <ion-datetime displayFormat="HH:mm" minuteValues="0,25,40,55"></ion-datetime>
    </ion-item>

    <br>

    <ion-row>
      <ion-button color="primary" class="button button-full" type="Submit"
        block>
        <ion-icon name="checkmark-circle-outline"></ion-icon> Agendar
      </ion-button>
    </ion-row>

  </ion-list>

</form>