<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let p of pages">
    <!-- <ion-menu-toggle *ngIf="p.url"> -->
    <ion-item [routerLink]="p.url" navigateForward="root"
      routerLinkActive="active">
      <ion-icon [name]="p.icon" id="icon"></ion-icon>
      <ion-label>
        {{ p.title }}
      </ion-label>
    </ion-item>
    <!-- </ion-menu-toggle> -->
  </div>
</ion-content>
