<form (ngSubmit)="onClick()">

  <ion-list>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" name="title" [(ngModel)]="itemCadastro.email"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input [type]="isSenha ? 'text' : 'password'" name="senha"
        required></ion-input>
      <button (click)="togglePasswordFieldType()" color="medium" type="button">
        <ion-icon [name]="isSenha ? 'eye-off' : 'eye'"></ion-icon>
      </button>
    </ion-item>

    <br>
    <ion-row>
      <ion-button color="primary" class="button button-full" type="Submit"
        block>
        <ion-icon name="checkmark-circle-outline"></ion-icon> cadastrar
      </ion-button>
    </ion-row>

  </ion-list>

</form>