<form (ngSubmit)="onClick()" [formGroup]="formCad">

  <ion-list>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" required formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="formCad.get('email').hasError(validation.type) &&
          (formCad.get('email').dirty ||
          formCad.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input [type]="isSenha ? 'text' : 'password'" required
        formControlName="senha"></ion-input>
      <button (click)="togglePasswordFieldType()" color="medium" type="button">
        <ion-icon [name]="isSenha ? 'eye-off' : 'eye'"></ion-icon>
      </button>
    </ion-item>

    <br>
    <ion-row>
      <ion-button color="primary" class="button button-full" type="Submit"
        [disabled]="!formCad.valid"
        block>
        cadastrar
      </ion-button>
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    </ion-row>

  </ion-list>

</form>