<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content has-header="true" padding="true">
  <form (ngSubmit)="onClick()" [formGroup]="formAlterUser">

    <ion-list>

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" required formControlName="nome"></ion-input>
      </ion-item>

      <!-- <ion-input type="file" required formControlName="img"></ion-input> -->
      <ion-tab-button (click)="openImagePicker()" >
        <ion-icon name="camera"></ion-icon>
        <ion-label>Foto</ion-label>
      </ion-tab-button>

      <br>
      <ion-row>
        <ion-button color="primary" class="button button-full" type="Submit"
          [disabled]="!formAlterUser.valid"
          block>
          atualizar dados
        </ion-button>
      </ion-row>

    </ion-list>

  </form>
</ion-content>