
<ion-content padding>

  <ion-img id="img"
    src="https://i1.wp.com/wp-blog-dir.s3.amazonaws.com/uploads/sites/24/2017/10/barber-logo.png?resize=320%2C320&ssl=1">
  </ion-img>

  <app-form-login></app-form-login>

  <ion-row class="labels">
    ou conecte-se usando:
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" fill="outline" color="primary">
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" fill="outline" color="primary">
          <ion-icon name="logo-google"></ion-icon>
          Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>