#img{
    margin: auto;
    width: 70%;
    padding: 10px;
}

.labels{
    margin: auto;
    padding: 10px;
    text-align: center !important;
}

hr{
    width: 40%;
    background-color: #000000;
}

ion-button ion-icon {
    position: absolute;
    left: 20px;
}

ion-content{
    background-color: red;
}