
<ion-content padding>

  <ion-img id="img"
    src="https://i1.wp.com/wp-blog-dir.s3.amazonaws.com/uploads/sites/24/2017/10/barber-logo.png?resize=320%2C320&ssl=1">
  </ion-img>

  <ion-grid>
    <ion-row>
      <ion-button expand="full" class="button" color="danger">
        <ion-icon name="logo-google" class="icon"></ion-icon>
        Google
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="full" class="button" color="primary">
        <ion-icon name="logo-facebook" class="icon"></ion-icon>
        Facebook
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-row class="labels">
    <hr> OU <hr>
  </ion-row>

  <app-form-login></app-form-login>

</ion-content>