<section *ngFor="let item of agendamentos">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-card-title>
          {{item.servico}}
        </ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-chip>
        <ion-icon name="calendar" color="primary"></ion-icon>
        <ion-label>{{item.data | date: 'dd/MM/yyyy'}}</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="time" color="primary"></ion-icon>
        <ion-label>{{item.hora | date: 'H:mm'}}</ion-label>
      </ion-chip>
      <br>
      <ion-chip>
        <ion-icon name="person" color="primary"></ion-icon>
        <ion-label>{{item.barbeiro}}</ion-label>
        <ion-icon name="cut"></ion-icon>
      </ion-chip>
      <br>
      <ion-button type="button" (click)="presentActionSheet(item.id)"
        id="{{item.id}}" color="primary">
        configuração
      </ion-button>
    </ion-card-content>
  </ion-card>
</section>