<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Agendamentos abertos</ion-label>
        <ion-badge color="success">{{totalAgentamento}}</ion-badge>
    </ion-item>

    <ion-content padding>
        <app-card-agendamento [agendamentos]="agendamentos"></app-card-agendamento>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadAgendamentos($event)">
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Carregando Agendamentos">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onClickAgendamento()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
