<ion-content padding>

  <ion-fab vertical="top" horizontal="end" slot="fixed" color="danger">
    <button (click)="fecharModal()">
      <ion-icon name="close" size="large"></ion-icon>
    </button>
  </ion-fab>
  <br>
  <br>

  <form [formGroup]="formAgendamento" (ngSubmit)="onClickEditar()">

    <ion-list>

      <ion-item>
        <ion-label position="floating">Barbeiro</ion-label>
        <ion-select cancelText="Cancelar" okText="Ok"
          formControlName="barbeiro" [(ngModel)]="itensAgendamendo.barbeiro">
          <ion-select-option *ngFor="let barbeiro of barbeiros"
            ([value])="barbeiro.id">
            {{barbeiro.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Serviços</ion-label>
        <ion-select multiple="true" cancelText="Cancelar" okText="Ok"
          formControlName="servico" [(ngModel)]="itensAgendamendo.servico">
          <ion-select-option *ngFor="let servico of servicos"
            ([value])="servico.id">
            {{servico.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" name="dtNascimento" required
          [min]="anoMin" formControlName="data"
          [(ngModel)]="itensAgendamendo.data"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-datetime displayFormat="HH:mm" minuteValues="0,25,40,55"
          formControlName="hora" [(ngModel)]="itensAgendamendo.hora"></ion-datetime>
      </ion-item>

      <br>

      <ion-row>
        <ion-button color="primary" class="button button-full" type="Submit"
          [disabled]="!formAgendamento.valid"
          block>
          Editar
        </ion-button>
      </ion-row>

    </ion-list>

  </form>

</ion-content>